<ion-side-menus>

  <ion-pane ion-side-menu-content2>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    
        </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="gpr">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/squad">
          SQUAD
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          FIXTURES
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          RESULTS
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>
