<ion-view title="squad" ng-init="getLoggedInUser()">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <header role="banner">
        <h1>gpr raptors</h1>
        <h2>Abbey Rangers v GPR Raptors</h2>
    </header>
      
    <nav role="primary">
        <ul class="inline-list">
          <li class="active"><a href="squad.html">squad</a></li>
          <li><a href="fixtures.html">fixtures</a></li>
          <li><a href="results.html">results</a></li>
        </ul>
    </nav>
      
    <section role="players">
      <div class="row">
        <div class="large-12 columns">
          <ul>
            <li> <a href="Player_Stats.html">
              <img src="img/headshot.jpg" class="circle">
              <h3>fenn</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>luca</h3></a>
            </li>            
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>max</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>dylan</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>robbie</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>harry</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>sammie</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>tyler</h3></a>
            </li>
            <li><a href="">
              <img src="img/headshot.jpg" class="circle">
              <h3>abbi</h3></a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </section>
    
    <footer role="result">
     EDIT FINAL SCORE
      <form>
        <label>ABBEY RANGERS
          <input type="text" placeholder="0" />
        </label>

        <label>GPR RAPTORS
          <input type="text" placeholder="0" />
        </label>
        <a href="#" class="button small radius">Save</a>
      </form>

    </footer>
    
  </ion-content>
</ion-view>
